/* mobile.css */
@media (max-width: 768px) {

  /* Header */
  .header-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .logo img {
    height: 80px; 
  }

  /*Show hamburger */
  .menu-toggle{
    display:block;
    text-align: center;
    margin-top:10px;
  }

  /* Hide nav by default*/
  .nav{
    display: none;
    flex-direction: column;
    text-align: center;
  }

  /* Show nav when active*/
  .nav.active{
    display: flex;
  }

  .nav a{
    margin: 10px 0;
  }

  /* Hero */
  .hero-overlay h1 {
    font-size: 1.8rem;
    margin-left: 0;
    text-align:left;
  }

  .hero-overlay h3 {
    font-size: 1.1rem;
    margin-left: 0;
    margin-top: 30px;
    text-align: left;
  }

  .hero-btn {
    margin-top: 30px;
  }

  /* Services container */
  .container {
    padding: 20px;
  }

  /* Image grid */
  .image-grid {
    grid-template-columns: 1fr; /* stack instead of 3 wide columns */
    gap: 20px;
  }

  .image-grid img {
    width: 100%;
    height: auto;
  }

  /* About section */
  .about-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about-text {
    text-align: center;
  }

  .about-image img {
    width: 200px;
    height: auto;
  }

  /* Contact */
  .contact-container {
    padding: 20px;
  }
}
